{% extends "layout.html" %}
{% include 'navbar.html' %}
{% block content %}
<div class="container">
    <div>
        <h3>{{ workout.title }}</h2>
    </div>
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <h2 class="text-center">Update Exercise</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="workout">Exercise Name</label>
                        <input type="text" value="{{exercise.name}}" class="form-control" name="name" placeholder="Enter Exercise Name">
                    </div>
                    <div class="form-group">
                        <label for="workout">Sets</label>
                        <input type="number" value="{{exercise.sets}}" class="form-control" name="sets" placeholder="Enter Number OF Sets">
                    </div>
                    <div class="form-group">
                        <label for="workout">Reps</label>
                        <input type="number" value="{{exercise.reps}}" class="form-control" name="reps" placeholder="Enter Number OF Reps">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-custom btn-block mt-4">Add Exercise </button>
                        </div>
                        <div class="col-md-6">
                            <a href="{{url_for('workout_bp.workout_detail',id =workout.id )}}" class="btn btn-warning btn-custom btn-block mt-4">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
            
    </div>
</div>
{% endblock %}